:root {
    --anim-list: opacity 0.2s, border 0.2s, color 0.2s, fill 0.2s;
    --size: 6px;
    --rnd: 24px;
    --bg: #111;
    --ui: #bbb;
    --unfocus: 0.5;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    -webkit-transition: var(--anim-list);
    -moz-transition: var(--anim-list);
    -o-transition: var(--anim-list);
    transition: var(--anim-list);
    transition-timing-function: ease-out;
}

body {
    background: var(--bg);
    display: block;
    margin: 0 auto;
    width: 80vw;
    max-width: 540px;
    height: 100vh;
    line-height: 100vh;
}

#contain {
    /* background: blue; */
    display: inline-block;
    line-height: 24px;
    width: 100%;
}

#contain * {
    display: block;
    margin: calc(var(--size) * 2) auto;
}

#qBox {
    display: block;
    width: calc(100% - 28px);
    font-size: 18px;
    color: var(--ui);
    background: none;
    padding: 6px 12px;
    height: 24px;
    border-radius: var(--rnd);
    line-height: 24px;
    border: 2px solid var(--ui);
    color: var(--ui);
    text-align: left;
    opacity: var(--unfocus);
}

#qBox:hover {
    opacity: calc(var(--unfocus) * 0.5 + 0.5)
}

#qBox:focus {
    opacity: 1.0;
}

#options {
    padding: 0px 4px;
}

#options img {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0px 10px;
    opacity: var(--unfocus);
}

#options img:hover {
    opacity: 1;
}

#cog {
    cursor: pointer;
    fill: var(--ui);
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: var(--unfocus);
}

#cog:hover {
    opacity: 1.0;
}

#settings {
    width: calc(80vw - 24px);
    max-width: 516px;
    padding: 0px 12px;
    display: block;
    position: fixed;
    top: 0;
    background: red;
    color: var(--ui);
    border: 2px solid var(--ui);
    background: var(--bg);
    border-radius: var(--rnd);
}